@charset 'UTF-8';

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 300px;
    max-height: 300px;
}

.descricao{
    width: 300px;
    height: 100px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress{
    height: 6px;
    width: 0%;
    background-color: #333;
}

.ponto{
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo{
    display: flex;
    width: 300px;
    height: 10px;
    justify-content: space-between;
}

#play{
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}
#previous{
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
}
#pause{
    width: 50px;
    height: 50px;
    display: inline-block;
    display: none;
    cursor: pointer;
}
#next{
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}